<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Administrador Security
                <img src="" alt="">
            </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>                
                </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-home"></i> Inicio</a>
                    <a class="nav-link" href="/"><i class="fas fa-building"></i> Clientes</a>
                    <a class="nav-link" href="/"><i class="fas fa-user"></i> Productos</a>
                    <a class="nav-link" href="/"><i class="fas fa-off"></i> Salir</a>
                </div>
            </div>
        </div>
    </nav>