<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Inicio</title>

    <!--Bootswatch--> <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <!--Font Awesome--> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <!--Icono><link rel="shortcut icon" href="public/ico/logo.ico" type="image/x-icon"-->

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/_footer.css">

</head>
<body>
    <div class="cabecera">
        <div class="contenedor-cabecera">
            <header class="container">
                <div class="com">
                    <h4><strong><a href="/">SECURITY MASTERED </a></strong></h4>
                </div>
    
                <input type="checkbox" id="btnMenu">
                <label for="btnMenu" id="checkbtn"><i class="fas fa-bars"></i></label>
        
                <nav class="menu">
                    <ul>
                        <li><a href="/"><i class="fas fa-home"></i> Inicio</a></li>
                        <li><a href="/productCar.ejs"><i class="fas fa-door-open"></i> Explorar Tienda</a></li>
                        <li><a href="/nosotros.ejs"><i class="fas fa-users"></i> Quienes Somos</a></li>
                    </ul>
                </nav>
            </header><hr class="separador">
        </div>

        <div class="main">
            <h2>Invierta en la seguridad de su hogar</h2><br>
            <span>Horarios de atencion: Lun a Sab - 09:00 a 19:00</span><br>
            <a href="/login.ejs"><button>INICIAR SESION</button></a>
        </div>
    </div>

    <section class="principal">
        <div class="contenedor-principal container">
            <h4 class="text-center">Te ofrecemos</h4><hr><br>
            <div class="seccion-principal">
                <div class="col-4">
                    <i class="fas fa-shield-alt"></i>
                    <p>Seguridad para su hogar garantizada con mas 5 de experiencia en el mercado</p>
                </div>
                <div class="col-4">
                    <i class="fas fa-video"></i>
                    <p>Adquiere camaras individuales, sistemas de camaras, sistemas de alarmas</p>
                </div>
                <div class="col-4">
                    <i class="fas fa-sync"></i>
                    <p>Video vigilancia en todo momento, sincronizacion de camaras con dispositivos moviles </p>
                </div>
            </div>

            <div class="comprar">
                <h4 class="text-center">Empezar a comprar ya</h4><br>
                <div class="text-center">
                    <a class="btn btn-warning compraOpcion" href="productCar.html"><i class="fas fa-shopping-cart"></i> Ir a Tienda</a>
                    <a class="btn btn-success compraOpcion" href="https://wa.me/593963776411" target="_blank">Comprar por <i class="fab fa-whatsapp"></i></a>
                </div>
            </div>

            <h4 class="text-center">Servicios en general</h4><hr><br>
            <div class="slider">
                <div class="slider-img">
                    <ul>
                        <li><strong><p>Cerradura para camaras</p></strong><img src="/img/servicio-1.jpg" alt=""></li>
                        <li><strong><p>Cercos electricos</p></strong><img src="/img/servicio-2.jpg" alt=""></li>
                        <li><strong><p>Cerradura para camaras</p></strong><img src="/img/servicio-1.jpg" alt=""></li>
                        <li><strong><p>Cercos electricos</p></strong><img src="/img/servicio-2.jpg" alt=""></li>
                    </ul>                    
                </div>
                <div class="slider-frase">
                    <p>Somos su mejor opcion en cuanto a servicios para la seguridad de su hogar</p>
                </div>
            </div>

            <h4 class="text-center">Aprende con nosotros</h4><hr>
            <div class="cursos">
                <div class="container curso-frase">
                    <p>Inscribete para conocer las ofertas de nuestros cursos
                        <br><br><a href="login.ejs" class="btn btn-primary">Inscribirse</a>
                    </p>
                </div>
                <div>
                    <img src="/img/cursos.jpg" alt="">
                </div>
            </div>

            <h4 class="text-center">Tu opinion nos importa</h4><hr>
            <div class="comentarios">
                <div class="comentarios-parrafo">
                    <p>Envia tus comentarios o sugerencias que nos ayuden a seguir siendo los mejores del mercado</p>
                </div>
                <div class="comentario-formulario">
                    <form action="" id="opinion">
                        <div><input type="text" placeholder="Ingresa tu correo" id="correo"></div>
                        <div><textarea cols="30" rows="5" placeholder="Escribe aqui..." id="comentario"></textarea></div>
                        <div><button class="btn btn-success btn-block" type="submit">Enviar</button></div>
                    </form>
                </div>
            </div>

            <h4 class="text-center">Trabajamos con el mejor proveedor de productos</h4><hr>
            <div class="text-center">
                <img src="/img/proveedor.png" alt="" width="300px">
            </div>
        </div>
    </section>
    
    <%- include('templates/footer.ejs') %>    
    <script src="/js/index.js"></script>
</body>
</html>