<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('templates/header.ejs') %>
    
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <%- include('templates/menu.ejs') %>
    <section class="container">
        <h1 class="text-center">Unete a nuestra comunidad</h1><hr class="linea">
        <div class="login">
            <div class="login-img">
                <img src="/img/logo.png" alt="" width="550px"><b></b>
                <p>Inicia sesion para estar al dia con los nuevos productos y ofertas  o registrate si aun no lo haces es <strong>gratis</strong>!</p>
            </div>
            <div class="login-form">
                <div class="form-container card animated flipInY">
                    
                    <div class="separador">
                        <span onclick="login()">Iniciar</span>
                        <span onclick="registrar()">Registrarse</span>
                        <hr id="indicador">
                    </div>    

                    <form id="formulario-login" action="/login" method="POST">
                        <div>
                            <input type="text" placeholder="Usuario" id="usuarioLogin" name="userLogin">
                        </div>
                        <div>
                            <input type="password" placeholder="Contraseña" id="claveLogin" name="claveLogin">
                        </div>
                                    
                        <button type="submit" class="boton">Iniciar sesion</button>
                        <!--a href="">Olvido su contraseña?</a-->
                    </form>
            
                    <form id="formulario-registro" action="/registrar" method="POST">
                        <div>
                            <input type="text" placeholder="Nombre" id="nombreRegistroU" name="nomRegistrer">
                        </div>
                        <div>
                            <input type="text" placeholder="Usuario" id="nombreUsuarioR" name="userRegistrer">
                        </div>
                        <div>
                            <input type="email" placeholder="Email" id="nombreEmailR" name="emailRegistrer">
                        </div>
                        <div>
                            <input type="password" placeholder="Contraseña" id="nombreClaveR" name="claveRegistrer">
                        </div>
                        <div>
                            <input type="password" placeholder="Confirmar contraseña" id="confContraseña" name="confContraseña">
                        </div>
                                        
                        <button type="submit" class="boton">Registrarme</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                icon: '<%= icono%>',
                text: '<%= mensaje%>',
                timer: '<%= time%>'
            }).then(() =>{
                window.location='<%= ruta%>'
            })
        </script>
    <% } %>
    
    <%- include('templates/footer.ejs') %>
    <script src="/js/login.js"></script>
</body>
</html>