<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    
    <%- include('templates/header.ejs') %>

    <link rel="stylesheet" href="/css/nosotros.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiv_BBNb9Tj3cBDT_GmVdE2LejBTrOu3A&callback=initialize&libraries=&v=weekly" defer></script>
    <script src="/js/ubicacion.js"></script>
    <style type="text/css">
        html,
        body {
            height: 100%;
        }
        
        #street-view {
            height: 100%;
        }
    </style>

</head>
<body>
    <%- include('templates/menu.ejs') %>
    <section class="container">
        <h1 class="text-center">Acerca de nosotros</h1><hr>
        <div class="contenedor container">
            <div class="imagen">
                <img class="animated flipInY" src="/img/logo.png" alt="">
            </div>
            <div class="nosotros">
                <p class="text-justify">
                    Security Mastered es una pyme ecuatoriana ubicada en la calle 304 y avenida 204
                    en el barrio Maria Auxiliadors #1 de la ciudad de Manta.
                    <br><br><strong>MISION.</strong><br>
                    Satisfacer las necesidades, en el ámbito de la seguridad electrónica, mediante la venta de productos
                    de calidad y de servicios siempre brindados por un personal altamente calificado, que nos permita 
                    garantizar así, credibilidad, confiabilidad y tranquilidad en nuestros clientes.
                    <br><br><strong>VISION.</strong><br>
                    Seremos la empresa referencia del país en el área de la seguridad electrónica, gracias a la calidad
                     de nuestros productos, servicios, y constante implementación de nuevas tecnologías
                </p>
            </div>
        </div>
    </section>

    <h4 class="text-center">Ubicacion</h4>
    <div id="street-view"></div>

    <%- include('templates/footer.ejs') %>
    
</body>
</html>