<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script type="module">
        import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.js'
    </script>
    <script src="/js/vue.js"></script>
    <%- include('templates/header.ejs') %>

        <link rel="stylesheet" href="/css/productCar.css">
</head>

<body>
    <%- include('templates/menu.ejs') %>
        <div class="container dos">

            <nav>
                <!--Boostrap-->
                <div class="nav nav-tabs row" id="nav-tab" role="tablist">
                    <button class="nav-link active col-2" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                    <i class="fas fa-shield-alt"></i> Productos</button>
                    <button class="nav-link col-2" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                    <i class="fas fa-shopping-cart"></i> Carrito</button>

                    <div class="busqueda">
                        <div>
                            <input type="search" placeholder="Busqueda">
                            <i class="fas fa-search"></i>
                        </div> |
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <!--PRODUCTOS EN GENERAL-->
                    <!--Boostrap-->
                    <h1 class="text-center">Productos</h1>
                    <hr>

                    <div class="row" id="productos"></div>
                </div>

                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <!--CARRITO EN GENRAL-->
                    <!--Boostrap-->

                    <h2 class="text-center">Productos del carrito</h2>

                    <form action="" id="formulario-compra">
                        <!--FORMULARIO DE REGISTRO-->
                        <div class="formulario-cliente">
                            <div>
                                <label>Nombre: </label> <input type="text" id="nombre">
                            </div>
                            <div>
                                <label>Direccion: </label> <input type="text" id="direccion">
                            </div>
                            <div>
                                <label>Telefono:</label> <input type="text" id="telefono">
                            </div>
                        </div>
                        <div class="text-right">
                            <input class="btn btn-success" id="finalizar" type="submit">Finalizar compra
                        </div>
                    </form>
                    <div>Pagar mediante</div>
                    <select class="form-select form-select btn-dark text-white btn-block" aria-label=".form-select-lg example" data-toggle="modal" data-target="#Registro" value="Pagar mediante">
                        <option value="2" data-toggle="modal" data-target="#Registro">Via Paypal</option>
                </select>
                    <!-- Modal -->
                    <div class="modal fade" id="Registro" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignin" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="text-center">Ingresar datos
                                    </h3>
                                    <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="pagar-form" method="" autocomplete="off">
                                        <div class="form-group">
                                            <input type="text" id="nombres" class="form-control" placeholder="Nombres" required>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <input type="text" id="apellidos" class="form-control" placeholder="Apellidos" required>
                                        </div>
                                        <br>
                                        <p>Por favor seleccione su ciudad</p>
                                        <select class="form-control" Value="Seleccione su ciudad" id="ciudad">
                                <option id="ciudad">24 de Mayo</option>
                                <option id="ciudad">Bolívar</option>
                                <option id="ciudad">Chone</option>
                                <option id="ciudad">El Carmen</option>
                                <option id="ciudad">Eloy Alfaro</option>
                                <option id="ciudad">Jama</option>
                                <option id="ciudad">Jaramijó</option>
                                <option id="ciudad">Jipijapa</option>
                                <option id="ciudad">Junín</option>
                                <option id="ciudad">Manta</option>
                                <option id="ciudad">Montecristi</option>
                                <option id="ciudad">Olmedo</option>
                                <option id="ciudad">Pajan</option>
                                <option id="ciudad">Pedernales</option>
                                <option id="ciudad">Pichincha</option>
                                <option id="ciudad">Portoviejo</option>
                                <option id="ciudad">Puerto López</option>
                                <option id="ciudad">Rocafuerte</option>
                                <option id="ciudad">San Vicente</option>
                                <option id="ciudad">Santa Ana</option>
                                <option id="ciudad">Sucre</option>
                                <option id="ciudad">Tosagua</option>
                        </select>
                                        <br>
                                        <div class="form-group">
                                            <input type="text" id="direccion" class="form-control" placeholder="Direccion" required>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <input type="text" id="telefono" class="form-control" placeholder="Telefono" required>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <input type="text" id="email" class="form-control" placeholder="Email" required>
                                        </div>
                                        <br>
                                        <a href="/pagar.ejs" type="submit" class="btn btn-dark btn-block" target="blank">Pagar</a>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <!--DETALLE DE CARRITO-->
                        <thead>
                            <tr>
                                <th scope="col-1">#</th>
                                <th>Nombre</th>
                                <th>Accion</th>
                                <th>Cant</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody id="detalleCarrito">

                        </tbody>
                        <tfoot id="footerCarrito">
                            <tr id="footerCarrito">
                                <th scope="row" colspan="5">Carrito sin productos</th>
                            </tr>
                        </tfoot>
                    </table>

                </div>

            </div>
        </div>

        <a href="https://wa.me/593963776411" class="float" target="_blank">
            <p>Comprar desde whatsapp</p>
            <i class="fab fa-whatsapp my-float"></i></a>

        <template id="templateProducto">
        <div class="col-4 productos">
            <div class="card container">
                <img src="" alt="" class="card-img-top">
                <!--div class="card-body"-->
                    <h5>Titulo</h5>
                    <p>Precio</p>
                    <p>Descripcion</p>
                    <button class="btn btn-primary btn-block añadirProducto" type="submit"><i class="fas fa-shopping-cart"></i> Añadir al carrito</button>
                <!--/div-->
            </div>
        </div>
    </template>

        <template id="template-carrito">
        <tr>
            <th scope="row">id</th>
            <td>nombre</td>            
            <td>
                <button class="btn btn-info btn-sm"> + </button>
                <button class="btn btn-danger btn-sm"> - </button>
            </td>
            <td>precio</td>
            <td>$ <span>100</span></td>
        </tr>
    </template>

        <template id="template-footer">
        <tr>
            <th scope="row" colspan="2"></th>
                <td><button class="btn btn-danger btn-sm" id="vaciar-carrito">Vaciar carrito</button></td>
            <th scope="row" class="text-right">Subtotal</th>
                <td class="font-weight-bold">$ <span>1000</span></td>
        </tr>

        <tr>
            <th scope="row" colspan="4" class="text-right">I.V.A 12%</th>
                <td>$<span>100</span></td>
        </tr>

        <tr>
            <th scope="row" colspan="4" class="text-right">TOTAL</th>
                <td><span>100</span></td>
        </tr>

    </template>


        <%- include('templates/footer.ejs') %>

            <script src="/js/productCar.js"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
            </script>
            <!-- SCRIPTS -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
            </script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
            </script>
</body>

</html>