<form id="formulario-login" action="/" method="POST">
    <div>
        <input type="text" placeholder="Usuario" id="usuario" name="userLogin">
    </div>
    <div>
        <input type="password" placeholder="Contraseña" id="contraseña" name="claveLogin">
    </div>
                
    <button type="submit" class="boton">Iniciar sesion</button>
    <!--a href="">Olvido su contraseña?</a-->
</form>