<%- include('templates/header.ejs') %>   
<%- include('templates/navbar.ejs') %>  

<div class="container py-4">
    <div class="row">
        <div class="col-6">
            <table class="table table-striped table-responsive">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Descripcion</th>
                </tr>
                <% for(var i = 0; i < datos.length; i++){ %>
                <tr>
                    <td><%= datos[i].id%></td>
                    <td><%= datos[i].nom_producto%></td>
                    <td><%= datos[i].precio_producto%></td>
                    <!--td><img src="<%= datos[i].img_producto%>" alt="" width="100px"></td-->
                    <td><%= datos[i].desc_producto%></td>
                </tr>
                <% } %>
            </table>
        </div>
        <div class="col-6 card">
            <form action="/registrarProducto" method="POST">
                <h4 class="card-title text-center py-4">Registrar Nuevo Producto</h4>
                <div class="form-group">
                    <input type="text" name="nombreProducto" placeholder="Ingrese nombre de producto" class="form-control">
                </div>
                <div class="form-group">
                    <input type="number" name="precioProducto" placeholder="Ingrese precio del producto" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="imgProducto" placeholder="Ingrese imagen del producto" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="descProducto" placeholder="Ingrese escripcion del producto" class="form-control">
                </div>
                <input type="submit" class="btn btn-primary btn-block">
            </form>
        </div>
    </div>
</div>

<%- include('templates/footer.ejs') %>   