<footer>
    <div class="container-3"> <!--PIE DE PAGINA-->
        <div class="redes-sociales">
            <label>Redes sociales</label><br>
                <a href="https://www.facebook.com/SecuritMastered.ec/" target="blank"><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
        </div>
        <div class="contactanos">
            <label>Contactanos</label><br>
            <i class="fab fa-whatsapp"></i><span>0912345678</span><br>
            <i class="far fa-envelope"></i><span>secure.masterec2019@gmail.com</span>
        </div>
        <div class="pie-final">
            <label>Security Master ® | Todos los derechos reservados - 2021</label>
        </div>
    </div>
</footer>