<!--Bootswatch--> <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
<!--Font Awesome--> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<!--Icono><link rel="shortcut icon" href="public/ico/logo.ico" type="image/x-icon"-->

<link rel="stylesheet" href="/css/_footer.css">
<link rel="stylesheet" href="/css/_header.css">