* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body hr{
    background:#6BAAB6;
    width: 500px;
    margin: auto;
    height: 2px;
}

section{
    margin: 50px;    
    background-color: rgba(0, 0, 0, .04);
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
}

h1{
    padding-top: 50px;
}

strong{
    color: #6BAAB6;
}

.contenedor{
    padding: 50px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contenedor img{
    margin: auto;
    width: 350px;        
    display: flex;
    justify-content: center;
}

.contenedor .nosotros{
    margin-top: 20px;
    font-size: 15px;
    color: #555;
    grid-column: span 2;
}

@media(max-width: 768px){
    .contenedor .nosotros, .contenedor .imagen{
        grid-column: 1 / -1;
    }

    .contenedor img{
        width: 400px;
        justify-content: center;
    }
}

