*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("/img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 650px;
    background-attachment: fixed;
}

body .separador{
    width: 80%;
    margin: auto;
    height: 3px;
    background: #fff;
}

body hr{
    background:#6BAAB6;
    width: 500px;
    margin: auto;
    height: 2px;
}

.cabecera{
    padding-top: 0px;
    width: 100%;
    height: 650px;
}

.contenedor-cabecera{
    width: 100%;
    height: 80px;
    font-size: 15px;
}

#btnMenu{
    display: none;
}

header label{
    display: none;
    width: 60px;
    padding: 10px;
    font-size: 35px;
    transition: all 500ms ease;
}

header label:hover{
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
}

.menu ul{
    list-style: none;
    padding: 1px;
    display: flex;
    justify-content: flex-end;
}

.menu ul li a{
    text-decoration: none;
    color: #f7f8f9;
    padding: 20px;
    display: block;
    font-size: 16px;
}

.menu ul li a:hover{
    background-color: rgba(0, 0, 0, .2);
    padding: 15px;
    transition: .5s;
}

label i{
    color: #f4f5f6;
}

.com h4 a{
    text-decoration: none;
    float: left;
    padding-top: 25px;
    color: #fff;
}

.main{
    margin-top: 110px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
}

.main h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: #fff;
}

.main span{
    font-size: 22px;
}

.main button{
    background: #ff523b;
    padding: 8px 30px;
    margin: 10px 0;
    color: #fff;
    cursor: pointer;
}

.main button a{
    text-decoration: none;
}

.main button:hover{
    background: #555;
}

/************************************************************/
/************************************************************/

.principal{
    width: 100%;
    height: 2300px;
    background: #fff;
    font-size: 17px;
    color: #555;
}

.contenedor-principal,
.contenedor-principal h4{
    padding-top: 40px;
    margin-top: 40px;
}

.seccion-principal{
    margin: auto;
    display: flex;
    text-align: center;
}

.seccion-principal  i{
    font-size: 35px;
}

.seccion-principal p{
    padding-top: 40px;
}

.contenedor-principal .comprar{
    height: 200px;
    background: #f4f5f6;
}

.compraOpcion{
    margin: 5px 20px;
}

.slider, .comentarios, .cursos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    width: 88%;
    margin: auto;
}

.slider-img{
    width: 300px;
    margin: auto;
    overflow: hidden;
}

.slider-img ul{
    padding: 0;
    display: flex;
    width: 400%;
    animation: carrusel 20s infinite alternate;
    animation-timing-function: ease;
}

.slider-img li{
    width: 100%;
    list-style: none;
    text-align: center;
}

.slider-img img{
    width: 100%;
    height: 100%;
}

.slider-frase, .comentarios-parrafo, .curso-frase{
    width: 80%;
    margin: auto; 
    display: flex;
    align-items: center;
    font-size: 18px;
}

.slider, .comentarios, .cursos{
    padding-top: 30px;
}

.comentarios form{
    width: 100%;border: 2px solid rgb(99, 190, 99);
}

.comentarios input, textarea{
    border: 2px solid rgb(99, 190, 99);
    width: 100%;
    padding-left: 10px;
}

.comentarios form > div{
    margin: 20px;
}

.cursos img{
    max-width: 300px;
    margin: auto;
}

@keyframes carrusel{
    0% {margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

@media(max-width: 768px){
    header{
        margin-top: 20px;
    }
    .cabecera label{
        display: block;
    }
    .checkbtn{
        display: flex;
    }
    .menu{
        width: 80%;
        position: absolute;
        background: #555;
        margin-left: -100%;
        transition: all 500ms ease;
    }
    .menu ul{
        flex-direction: column;  /* Cuando se pone en modo responsive la etiqueta ul ya no sera una fila, sera columna*/
    }
    #btnMenu:checked~ .menu{
        margin: 0;
    }
    .com{
        float: right;
    }
    /********************************************************/
    .main h2, span{
        width: 80%;
        margin: auto;
    }
    .main span{
        display: none;
    }
}